@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    background-color: rgb(31, 31, 31);
    font-family: 'Bebas Neue', cursive;
}

#erik:hover{
    background-color: red;
}

#flecha:hover{
    background-color: blue;
}

#inicio ul{
    list-style-type: none;
    display:flex;
}

#Galeria ul{
    list-style-type: none;
    display: flex;
}

#Galeria ul li{
    color: rgb(58, 58, 224);
    float: left;
    margin: 2px 2px 2px 2px; /* top right bottom left*/
    /*
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    */

    width: 140px;
    flex-wrap: nowrap;
}

#Galeria ul li img{
    width: "2px";
}

#Galeria ul li p{
    color: black;
}

#boton_comienzo{
    position: absolute;
    overflow: hidden;
}

#man{
    z-index: -1;
}