@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,600&display=swap');

body{
    background-color: rgb(31, 31, 31);
    font-family: 'Bebas Neue', cursive;
}

.quickstart-container{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('../imagenes/rockbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quickstart-container img{
    position: absolute;
    height: 95%;
    bottom:0;
    right:0;
    padding-right: 4%;
}

.quickstart-text{
    list-style-type: none;
    width: 70%;
    display:block;
    text-align:center;
    padding-top: 2%;
}

.texto-grande{
    font-size: 5em;
    color: white;
    -webkit-text-stroke: 2px black;
}

.texto-chico{
    font-family: 'Anybody', cursive;
    padding-top: 5%;
    font-size: 1.9em;
    line-height: 1.45em;
    color: white;
}

.texto-boton a{
    text-decoration: none;
    background-color: red;
    border: 5px ridge black;
    border-radius: 20px;
    -webkit-text-stroke: 2px black;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3.5em;
    transition: font-size 0.3s ease;
}

.texto-boton a:hover{
    font-size: 3.7em;
    background-color: white;
    color: black;
    -webkit-text-stroke: 0;
}

footer{
    font-family: 'Anybody', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    color: white;
}

/*
.parallax-completo{
    width: 100%;
    height: 100vh;
    background-image: url('../imagenes/mazado.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/