#barrasuperior{
    list-style-type: none;
    display:inline-flex;
    padding-top: 20px;
    padding-bottom:5px;
}

header{
    background-image: url('../imagenes/redpattern.jpg');
    background-color: transparent;
}

header hr{
    border-color: rgb(85, 0, 0);
    height: 0;
    border-top-style: ridge;
    border-width: 0;
    border-top-width: 10px;
}

.logo{
    padding-top: 10px;
    padding-left: 80px;
}

.logo img {
    transition: transform 0.3s ease;
}
.logo:hover img {
    transform: scale(1.2,1.2);
}

#menu{
    list-style-type: none;
    display: inline-flex;
    padding-left: 60px;
    padding-top: 60px;
}

#menu li{
    text-align: center;
    padding-left: 25px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

#menu li a{
    background-color: rgb(54, 54, 54);
    border: 5px ridge lightgrey;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu li a:hover{
    background-color: red;
    -webkit-text-stroke: 1px black;

}

#buscador{
    padding-top: 7px;
    padding-left: 215px;
    padding-bottom: 10px;
}

#buscador p{
    font-size:20px;
    color:white;
    text-align:left;
}

#buscador input{
    border: 2px solid black;
    width: 250px;
    height: 30px;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
}

#loggers{
    list-style-type: none;
    display:flex;
    padding-left: 140px;
    white-space: nowrap;
}

#loggers li{
    padding-bottom: 20px;
    padding-left: 5px;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

#loggers li a{
    background-color: lightgrey;
    border: 3px ridge rgb(54, 54, 54);
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#loggers li a:hover{
    background-color: red;
    color: white;
    -webkit-text-stroke: 1px black;
}

