#barrasuperior{
    list-style-type: none;
    display:inline-flex;
    padding-top: 20px;
}

header{
    background-color: darkred;
    background-image: url('../imagenes/redpattern.jpg');
    background-color: transparent;
}

header hr{
    border-color: rgb(61, 0, 0);
    background-color: rgb(53, 0, 0);
    height: 1px;
    border-bottom-style: ridge;
    border-bottom-width: 4px;
}

#titulo li{
    padding-top: 5%;
    padding-left: 10%;
}

#menu{
    list-style-type: none;
    display: inline-flex;
    padding-left: 60px;
    padding-top: 60px;
}

#menu li{
    text-align: center;
    padding-left: 25px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

#menu li a{
    background-color: rgb(54, 54, 54);
    border: 5px ridge lightgrey;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu li a:hover{
    background-color: red;
    color: black;
    font-style:oblique;
}

#buscador{
    padding-top: 5%;
    padding-left: 215px;
    padding-bottom: 10px;
}

#buscador p{
    font-size:20px;
    color:white;
    text-align:left;
}

#buscador input{
    border: 2px ridge black;
    width: 250px;
    height: 30px;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
}

#loggers{
    list-style-type: none;
    display:flex;
    padding-left: 125px;
}

#loggers li{
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

#loggers li a{
    background-color: lightgrey;
    border: 5px ridge rgb(54, 54, 54);
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#loggers li a:hover{
    background-color: red;
    color: white;
    font-style: oblique;
}

