@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    background-color: rgb(31, 31, 31);
    font-family: 'Bebas Neue', cursive;
}

hr{
    border-color: red;
    height: 10px;
    background-color: red;
}

header{
    background-color: darkred;
}

#titulo li{
    padding: 20px;
}


#user{
    text-align: center;
    display: block;
    color: white;
    transition: .3s ease all;
    font-size: 1000%;
    border: none;
    position: relative;
    overflow: hidden;
}

#user:hover{
    cursor: pointer;
}

#user:hover::after{
    top:0;
}

#info_user p{
    padding: 0.3%;
    text-align: center;
    font-size: x-large;
    color: white;
}
#rutinas p{
    padding-left: 10%;
    font-size: x-large;
    color:white;
}
#rutinas select{
    padding-inline: 2%;
    color: rgb(14, 14, 14);
    font-size: large;
    text-decoration-color: black;
}

#rutinas ul{
    padding-left: 9%;
    display: inline-flex;
}
#rutinas li{
    padding: 2%;
}

#dietas p{
    padding-left: 10%;
    font-size: x-large;
    color:white;
}
#dietas select{
    padding-inline: 2%;
    color: rgb(14, 14, 14);
    font-size: large;
    text-decoration-color: black;
}

#dietas ul{
    padding-left: 9%;
    display: inline-flex;
}
#dietas li{
    padding: 2%;
}

#linea_temporal p{
    text-align: center;
    font-size: x-large;
    color:white;
}

#linea_temporal select{
    padding-inline:2%;
    color: rgb(14, 14, 14);
    font-size: large;
    text-decoration-color: black;   
}

#linea_temporal img{
    border-radius:35px;
    display: block;
    margin: 0px auto;
    padding-top: 1%;
}
