@import "variables";

html{
    font-family: $bigfont;
}

hr{
    border-color: $colorRojo;
    height: 10px;
    background-color: $colorRojo;
}

header{
    background-color: $verydarkred;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 5%;

}


#galeria {
    img{
        width: 80%;
        height: 100px;

        &:hover{
            border: 5px solid $colorNegro;
        }
    }
    .col-lg-4{
        padding: 25px;
        margin: 0 !important;
    }

}


.containerImagenes{
    padding-top: 5vh;
}

.imagenEscalada{
    display: block;
    width: 100%;
}

.profile-pic{
    width: 20vh;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin: 4vh;
}


#informacion{
    color: $colorBlancoPastel;
    font-family: $bigfont;
}

.profile-box{
    background-color: $colorNegro;
    text-align: center;
    padding: 20vh 100px;
    color: $colorBlancoPastel;
    position: relative;
    border-radius: 20px;
}
