@import "variables";

html{
    background-color: $colorGris;
    font-family: $big;
}

hr{
    border-color: $colorRojo;
    height: 10px;
    background-color: $colorRojo;
}

header{
    background-color: $verydarkred;
}

#titulo{ 
    li{
        padding: 20px;
    }
}


#user{
    text-align: center;
    display: block;
    color: $colorBlanco;
    transition: .3s ease all;
    font-size: 1000%;
    border: none;
    position: relative;
    overflow: hidden;
    
    &:hover{
        cursor: pointer;
        
        &::after{
            top: 0;
        }
    }
}




#info_user{

    p{
        padding: 0.3%;
        text-align: center;
        font-size: x-large;
        color: $colorBlanco;
    }
}


#rutinas{ 
    p{
        padding-left: 10%;
        font-size: x-large;
        color:$colorBlanco;
    }

    select{
        padding-inline: 2%;
        color: $colorNegro;
        font-size: large;
        text-decoration-color: $colorNegro;
    }

    ul{
        padding-left: 9%;
        display: inline-flex;
    }

    li{
        padding: 2%;
    }


}

#dietas{
    p{
        padding-left: 10%;
        font-size: x-large;
        color:$colorBlanco;
    }

    select{
        padding-inline: 2%;
        color: $colorNegro;
        font-size: large;
        text-decoration-color: $colorNegro;
    }

    ul{
        padding-left: 9%;
        display: inline-flex;
    }

    li{
        padding: 2%;
    }


}

#linea_temporal{
    p{
        text-align: center;
        font-size: x-large;
        color:$colorBlanco;
    }
    select{
        padding-inline:2%;
        color: $colorNegro;
        font-size: large;
        text-decoration-color: $colorNegro;   
    }
    img{
        border-radius:35px;
        display: block;
        margin: 0px auto;
        padding-top: 1%;
    }
} 