@import "variables";

section{
    background: {
        image: url('../imagenes/tile.gif');
        position: center;
    }
    font-family: $bigfont;
}

.titular{
    font-size: 2em;
    padding-top: 1%;
}

input{
    font-family: $smallfont;
    text-align: center;
}

.panel{
    border: 2px solid $verydarkred;
    background: {
        image: url("/assets/imagenes/redpattern.jpg");
    }
    width: 70%;
}
