@import 'variables';

section{
    background: {
        image: url('../imagenes/rockbg.jpg');
        position: center;
        size: cover;
        repeat: no-repeat;
    }
    font-family: $bigfont;
}

#titulo{
    text-align: center;
    color: white;
    font-size: 4.2em;
    font-family: $bigfont;
    -webkit-text-stroke: 1.7px black;
}

.pregunta{
    margin-bottom: 0.5%;
    text-align: center;
    color: white;
    font-size: 2.4em;
    font-family: $bigfont;
    -webkit-text-stroke: black 1px;
}

.selection{
    list-style-type: none;
    display: flex;
    justify-content: center;
    li{
        position: relative;
        margin-right: 1%;
        width: 17%;
        height: 70px;
    }
    label,input{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    input[type="radio"]{
        opacity: 0.01;
        z-index: 1;
        left: 50%;
        top: 50%;
    }
    #genexe{
        opacity: 0.01;
    }
    input[type="radio"]:checked+label{
        background-color: red;
        color: white;
        border-color: darkred;
    }
    label{
        background-color: $bgcolorpage;
        user-select: none;
        padding: 7%;
        margin-left: 2%;
        border: {
            width: 3px;
            style: solid;
            color: grey;
            radius: 50px;
        }
        cursor: pointer;
        text-align: center;
        z-index: 2;
        font: {
            family: $smallfont;
            size: 1.5em;
        }
        color: white;
        &:hover{
            background: grey;
            color: black;
            border-color: black;
        }
    }
}

.contenedor{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    text-align: center;
    img{
        margin: {
            left: auto;
            right: auto;
        }
        height: 500px;
        border: 10px double grey;
    }
    ul{
        margin: {
            top: 2%;
            bottom: 2%;
        }
        list-style-type: none;
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        li{
            background: {
                image: url('../imagenes/redpattern.jpg');
                color: transparent;
            }
            border: {
                width: 5px;
                style: groove;
                color: $verydarkred;
                radius: 60px;
            }
            width: 28%;
            height: 200px;
            resize: none;
            margin: {
                left: 2%;
                right: 2%;
            }
            hr{
                margin: 0;
                height: 0;
                border: {
                    top-color: $verydarkred;
                    top-style: ridge;
                    width: 0;
                    top-width: 5px;
                }
            }
        }
    }
}

#nameexe{
    margin-top: 1%;
    text-align: center;
    color: white;
    font-size: 3.7em;
}

.exeinfo{
    margin: {
        top: 3%;
        bottom: 3%;
    }
    text-align: center;
    color: white;
    font-size: 2.4em;
}

.explicacion,.duracion,.workarea{
    font: {
        family: $smallfont;
        size: 1.3em;
    }
    text-align: center;
    color: white;
    padding-top: 5%;
}

footer{
    font: {
        family: $smallfont;
        size: 1em;
    }
    padding-bottom: 10px;
    color: white;
}

#laroca {
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 1%;
}