@import "variables";
@import "botones";

section{
    background: {
        color: transparent;
        image: url('../imagenes/mazado.jpg');
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    font-family: $bigfont;
}

#titulos{
    font-family: $bigfont;
    color: $colorRojo;
    font-style: oblique;
}

label{
    color:white;
}

input{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: $smallfont;
}



