<nav class="navbar navbar-expand-lg navbar-dark bg">
    <div class="container-fluid">
        <div id="logo">
            <img src="/assets/imagenes/logo_randomgym.png" routerLink="landing" title="Ir al inicio" alt="Logo"/>
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 btn-lg" >
          <li class="nav-item">
            <a class="nav-link" routerLink="#">
              <button class="btn btn-danger me-lg-2 btn-lg" type="button" >Contacto</button>
            </a>
          </li>
          <li class="nav-item"  >
            <a class="nav-link" routerLink="randomexe">
              <button class="btn btn-danger me-lg-2 btn-lg" type="button" >Ejercicio aleatorio</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="nutinfo">
              <button class="btn btn-danger me-lg-2 btn-lg" type="button" >Información nutricional</button>
            </a>
          </li>
        </ul>
        <form class="d-flex ">
          <input class="form-control me-2" type="search" placeholder="Ej: Tríceps, espalda, etc..." aria-label="Ej: Tríceps, espalda, etc...">
          <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>
        <ul class="nav flex-column">
            <li class="nav-item ">
              <a class="nav-link" routerLink="login">
                <button class="btn btn-danger me-lg-2 " type="button" >Iniciar sesión</button>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="register">
                <button class="btn btn-danger me-lg-2" type="button" >Registrarse</button>
              </a>
            </li>
        </ul>
      </div>
      
      
    </div>
    <hr>
  </nav> 