<section>
    <form>
        <p>¿Cual es tu sexo?
            <br>
            <button value="Masculino" class="boton"><span>Masculino</span></button>
            <button value="Femenino" class="boton"><span>Femenino</span></button>
        </p>
        <p>¿Que deseas trabajar?
            <br>
            <button value="perder_peso" class="boton"><span>Perder peso</span></button>
            <button value="ganar_peso" class="boton"><span>Ganar peso</span></button>
            <button value="tonificacion" class="boton"><span>Tonificación</span></button>
            <button value="mantencion" class="boton"><span>Mantencion</span></button>
        </p>
        <p>¿Que buscas trabajar?
            <br>
            <button value="Tren_superior" class="boton"><span>Tren superior</span></button>
            <button value="Tren_inferior" class="boton"><span>Tren inferior</span></button>
            <button value="Cuerpo_Completo" class="boton"><span>Cuerpo Completo</span></button>
        </p>
        <p>¿Que tipo de entrenamiento deseas realizar?
            <br>
            <button value="Con" class="boton"><span>Con Pesas</span></button>
            <button value="Sin" class="boton"><span>Sin pesas</span></button>
        </p>
        <p>Tipo de dificultad
            <br>
            <button value="Principiante" class="boton"><span>Principiante</span></button>
            <button value="Intermedio" class="boton"><span>Intermedio</span></button>
            <button value="Avanzado" class="boton"><span>Avanzado</span></button>
            <button value="Espartano" class="boton"><span>Espartano</span></button>
        </p>
        
        <p>¿Cual es tu peso?</p>
        <input type="text" placeholder="Peso(kg)" required>
        <br>
        <p>¿Cual es tu altura?</p>
        <input type="text" placeholder="Altura(cm)" required>
        <br>
        <br>
        <button value="buscar" class ="boton_submit"><span>Busca tu rutina</span> </button>
        
    
    </form>
</section>