<section>
<br/>
        <h1 id="titulo">GENERADOR DE EJERCICIOS ALEATORIOS RANDOM GYM®</h1>
        <form [formGroup]="formRandomExe" (submit)="GenerateExercise()">
            <h1 class="pregunta">¿Qué dificultad deseas?</h1>
            <ul class="selection">
                <li>
                    <input type="radio" id="easy" value="easy" formControlName="dificultad" required>
                    <label for="easy">Principiante</label>
                </li>
                <li>
                    <input type="radio" id="medium" value="medium" formControlName="dificultad">
                    <label for="medium">Intermedio</label>
                </li>
                <li>
                    <input type="radio" id="hard" value="hard" formControlName="dificultad">
                    <label for="hard">Avanzado</label>
                </li>
                <li>
                    <input type="radio" id="veryhard" value="veryhard" formControlName="dificultad">
                    <label for="veryhard">Espartano</label>
                </li>
            </ul>
            <br/><br/>
            <h1 class="pregunta">¿Qué quieres trabajar?</h1>
            <ul class="selection">
                <li>
                    <input type="radio" id="upper" value="upper" formControlName="area" required>
                    <label for="upper">Tren superior</label>
                </li>
                <li>
                    <input type="radio" id="lower" value="lower" formControlName="area">
                    <label for="lower">Tren inferior</label>
                </li>
                <li>
                    <input type="radio" id="cardio" value="cardio" formControlName="area">
                    <label for="cardio">Cardio</label>
                </li>
            </ul>
            <br/>
            <br/><br/><br/>
            <ul class="selection">
                <li>
                    <input type="submit" id="genexe" value="">
                    <label for="genexe">¡Dame mi ejercicio!</label>
                </li>
            </ul>
        </form>
        <br/><br/>
        <div class="contenedor" hidden>
            <br/>
            <br/><br/>
            <h1 class="pregunta">Este es tu ejercicio:</h1>
            <img class="imgexe" src="/assets/imagenes/ejercicios/placeholder.gif">
            <h1 id="nameexe">PLACEHOLDER NAME</h1>
            <ul>
                <li>
                    <p class="exeinfo">Explicación</p>
                    <hr/>
                    <p class="explicacion">este es el placeholder de la explicación</p>
                </li>
                <li>
                    <p class="exeinfo">Duración</p>
                    <hr/>
                    <p class="duracion">este es el placeholder de la duración</p>
                </li>
                <li>
                    <p class="exeinfo">Zona Trabajada</p>
                    <hr/>
                    <p class="workarea">este es el placeholder de la zona trabajada</p>
                </li>
            </ul>
        </div>
        <br/>
    </section>