<article>
    <div class="bg-dark">
            <div class="container align-content-center">
                <div class="profile-box align-items-center">
                    <img src="/assets/imagenes/cjcorriendo.png" class="profile-pic" alt="">
                    <h1 id="informacion">Nombre de usuario</h1>
                    <h2 id="informacion">Email</h2>
                    <h2 id="informacion">Peso(kg)</h2>
                    <h2 id="informacion">Objetivo: -</h2>
                </div>
            </div>
        </div>

        <section id="galeria" class="container ">
            <div class="text-center pt-5">
                <h1>Últimas rutinas realizadas</h1>
                <p>Aquí se almacenarán todas las rutinas que realices, utiliza los filtros para hallar la que buscas con mayor facilidad</p>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Orden
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Más recientes primero</a></li>
                <li><a class="dropdown-item" href="#">Más antiguas primero</a></li>
                </ul>
            </div>

            <div class="row ">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/assets/imagenes/cjmancuernas.png">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/assets/imagenes/cjhaciendopesas.png">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/assets/imagenes/cjcorriendo.png">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/assets/imagenes/cjhaciendopesas.png">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/assets/imagenes/cjcorriendo.png">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/assets/imagenes/cjmancuernas.png">
            </div>
            </div>
    </section>
</article>